# Xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

# Ignore private workspace stuff
SheetMusicPlayer.xcodeproj/xcuserdata

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

